In [1]:
# import folium
# import numpy as np
# import pandas as pd
import functions

In [3]:
# Import new data
NEW_DATA_PATH = 'data/raw_precipitation_97016.csv'
EXISTING_DATA_PATH = 'data/precipitation_97016.csv'

df = functions.update_data(new_data_path=NEW_DATA_PATH,
                 existing_data_path=EXISTING_DATA_PATH,
                 overwrite='no')

In [4]:
df

           STATION                  NAME        DATE  PRCP  SNOW
0      USC00355838  MOUNTAIN HOME, OR US  1909-06-01  0.00   0.0
1      USC00355838  MOUNTAIN HOME, OR US  1909-06-02  0.00   0.0
2      USC00355838  MOUNTAIN HOME, OR US  1909-06-03  0.00   0.0
3      USC00355838  MOUNTAIN HOME, OR US  1909-06-04  0.00   0.0
4      USC00355838  MOUNTAIN HOME, OR US  1909-06-05  0.00   0.0
...            ...                   ...         ...   ...   ...
55519  USC00351643     CLATSKANIE, OR US  2024-10-27  0.95   0.0
55520  USC00351643     CLATSKANIE, OR US  2024-10-28  0.42   0.0
55521  USC00351643     CLATSKANIE, OR US  2024-10-29  0.16   0.0
55522  USC00351643     CLATSKANIE, OR US  2024-10-30  0.01   0.0
55523  USC00351643     CLATSKANIE, OR US  2024-10-31  0.35   0.0

[55378 rows x 5 columns]