# Compare Temperature Across Locations
* TMAX: The maximum temperature on a day
* TMIN: The minimum temperature on a day
* TAVG: (If available) The average temperature on a day

In [31]:
import numpy as np
import os
import pandas as pd
import seaborn as sns
import sys
sys.path.append(os.path.dirname(os.getcwd()))

import functions
# from functions import map_stations

In [ ]:
# Station 1 - Clatskanie
df = pd.read_csv('../data/temperature_97016.csv')
df = df.assign(year = pd.to_datetime(df['DATE']).dt.year)
df = df[df['year']<2025]

# Verify station 
# functions.view_station_date_ranges(df)
# geo_data = pd.read_csv('../data/geo_data.csv')
# functions.map_stations(geo_data)

df1 = df[df['STATION']=='USC00351643']
# df[df['TAVG'].notnull()]['STATION'].unique()

           STATION               NAME        DATE  TAVG  TMAX  TMIN  year
25291  USC00351643  CLATSKANIE, OR US  1935-05-01   NaN  60.0  40.0  1935
25292  USC00351643  CLATSKANIE, OR US  1935-05-02   NaN  67.0  36.0  1935
25293  USC00351643  CLATSKANIE, OR US  1935-05-03   NaN  75.0  40.0  1935
25294  USC00351643  CLATSKANIE, OR US  1935-05-04   NaN  74.0  41.0  1935
25295  USC00351643  CLATSKANIE, OR US  1935-05-05   NaN  61.0  49.0  1935
...            ...                ...         ...   ...   ...   ...   ...
58007  USC00351643  CLATSKANIE, OR US  2024-12-27   NaN  54.0  42.0  2024
58008  USC00351643  CLATSKANIE, OR US  2024-12-28   NaN  50.0  43.0  2024
58009  USC00351643  CLATSKANIE, OR US  2024-12-29   NaN  51.0  43.0  2024
58010  USC00351643  CLATSKANIE, OR US  2024-12-30   NaN  49.0  36.0  2024
58011  USC00351643  CLATSKANIE, OR US  2024-12-31   NaN  49.0  32.0  2024

[32721 rows x 7 columns]

In [ ]:
# Station 2 - Portland
df = pd.read_csv('../data/temperature_97218.csv')
df = df.assign(year = pd.to_datetime(df['DATE']).dt.year)
df = df[df['year']<2025]
df.STATION.unique()

df2 = df.copy()

,STATION,NAME,DATE,TAVG,TMAX,TMIN,year
0,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",1940-10-14,NaN,70,53,1940
1,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",1940-10-15,NaN,64,52,1940
2,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",1940-10-16,NaN,72,50,1940
3,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",1940-10-17,NaN,72,58,1940
4,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",1940-10-18,NaN,78,58,1940
...,...,...,...,...,...,...,...
30755,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",2024-12-27,49.0,53,45,2024
30756,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",2024-12-28,51.0,55,48,2024
30757,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",2024-12-29,49.0,52,43,2024
30758,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",2024-12-30,45.0,50,41,2024
30759,USW00024229,"PORTLAND INTERNATIONAL AIRPORT, OR US",2024-12-31,43.0,45,37,2024

In [18]:
df1_suffix = '_CLATSKANIE'
df2_suffix = '_PDX'
df = df1.merge(df2,
          on=['DATE', 'year'],
          how='inner',
          suffixes=(df1_suffix, df2_suffix)
          ).drop(['STATION_PDX', 'STATION_CLATSKANIE'], axis=1)

Maximum Temperature

In [19]:
df[['TMAX_CLATSKANIE', 'TMAX_PDX']].describe()

       TMAX_CLATSKANIE      TMAX_PDX
count     30638.000000  30728.000000
mean         59.716888     62.787002
std          12.642279     14.488503
min          17.000000     14.000000
25%          50.000000     52.000000
50%          59.000000     61.000000
75%          69.000000     73.000000
max         103.000000    116.000000

In [44]:
# Stack the TMAX of the locations; make the wide data long
x = pd.melt(df,
            id_vars='DATE',
            value_vars=['TMAX_CLATSKANIE', 'TMAX_PDX'])
x

             DATE         variable  value
0      1940-10-14  TMAX_CLATSKANIE   67.0
1      1940-10-15  TMAX_CLATSKANIE   63.0
2      1940-10-16  TMAX_CLATSKANIE   65.0
3      1940-10-17  TMAX_CLATSKANIE   68.0
4      1940-10-18  TMAX_CLATSKANIE   71.0
...           ...              ...    ...
61451  2024-12-27         TMAX_PDX   53.0
61452  2024-12-28         TMAX_PDX   55.0
61453  2024-12-29         TMAX_PDX   52.0
61454  2024-12-30         TMAX_PDX   50.0
61455  2024-12-31         TMAX_PDX   45.0

[61456 rows x 3 columns]

In [ ]:
sns.lineplot(x[x['YEAR']==2024],
         x='DATE',
         y='value',
         hue='variable')

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x10cfa78c0>>
Traceback (most recent call last):
  File "/Users/alberta/Library/Caches/pypoetry/virtualenvs/weather-python-DmzbIOXk-py3.13/lib/python3.13/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:
Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x10cfa78c0>>
Traceback (most recent call last):
  File "/Users/alberta/Library/Caches/pypoetry/virtualenvs/weather-python-DmzbIOXk-py3.13/lib/python3.13/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

KeyboardInterrupt

Minimum Temperature

In [20]:
df[['TMIN_CLATSKANIE', 'TMIN_PDX']].describe()

       TMIN_CLATSKANIE      TMIN_PDX
count     30636.000000  30728.000000
mean         42.249478     45.150807
std           9.147526      9.873956
min           1.000000     -3.000000
25%          35.000000     38.000000
50%          42.000000     45.000000
75%          50.000000     53.000000
max          66.000000     75.000000